﻿@model ParkingSystem.ViewModel.BookingDetailsViewModel
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <br />
    <center>
        <div id="listlabel">Booking History</div>
        <table id="staffbookingGrid"></table>
        <div id="jqControls"></div>
    </center>
  
        <script src="~/Scripts/StaffBookingDetails.js"></script>
        
   
</div>