﻿@model IEnumerable<ParkingSystem.ViewModel.DisplaySlotNamePerSection>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section header
    {
    @{ Html.RenderAction("test", "Home"); }
}
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <center>
        <br />
       
        @Html.Partial("_DisplaySlot", Model)
    </center>
    <br />
</div>