﻿@model IEnumerable<ParkingSystem.ViewModel.DisplayPlotNamePerPerson>
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <center>
        <br />
        <div id="slotnamedisplaydiv">
            @foreach (var item in Model)
            {
                <div class="panel panel-default panel-success">
                    <div class="panel-heading">@Html.DisplayFor(modelItem => item.PlotName)</div>
                    <div class="panel-body">
                        <img src="~/Content/Images/PlotPic.jpg" id="plotpic" title="Click and Book" onclick="SlotDisplay(@item.PlotId);" />

                    </div>
                </div>
            }

        </div>
    </center>
</div>