﻿@model ParkingSystem.ViewModel.StaffRegisterViewModel
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<title>Register</title>
<div id="mainsectionhomepage">
    <br />
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br />
    <center>
        <div class="container  panel-position col-md-12" id="staffregister">
            <div class="panel panel-default">
                <div class="panel-heading">Staff Registration</div>
                <div class="panel-body">
@using (Ajax.BeginForm("RegisterStaff", "Plot",
         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage", OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }))
{

    <div id="div_loading" style="display:none;">
        <img src="@Url.Content("~/Content/Images/ring-alt.gif")" />
    </div>
                        <div class="form-horizontal required">
                            <span id="colorred">@ViewBag.Message</span>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group required">
                                @Html.LabelFor(model => model.StaffName, htmlAttributes: new { @class = "control-label col-sm-5" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.StaffName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.StaffName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.PlotName, htmlAttributes: new { @class = "control-label col-sm-5" })
                                <div class="col-sm-4">

                                    @Html.DropDownListFor(model => model.SelectedPlot, Model.PlotList, "Select Plot", new { @class = "form-control btn btn-default dropdown-toggle", required = "required" })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.PlotName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-sm-5" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-sm-5" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-sm-5" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group required">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-sm-5" })
                                <div class="col-sm-4">
                                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                </div>
                                <div>
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" name="Register" value="Register" class="btn btn-default" id="plotregisterbtn" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </center>
</div>