﻿body {
    margin:0px;
}
#justparklogo
{
   /*margin-left:400px;*/
}
#colorwhite
{
    color:white;
}
#headerlogo
{
    height:10px;
}
#home_form li
{
    display:inline-block;
    list-style-type:none;
}

#searchbutton
{
    background-color:green;
    width: 127px;
    border-radius:6px;
    height:35px;
}
#divforcustomerregistration
{
     width:100%;
    height:100%;
    background-color:#f5f5f5;
}
#changepassworddiv {
    background-color: whitesmoke;
    height: 306px;
    width: 615px;
    border-color: green;
    border: 5px solid;
    padding: 12px;
    padding-top: 79px;
}
