﻿html {
    overflow: auto;
}

body {
    margin: 0px;
}

#slotpic {
    height: 50px;
    width: 50px;
    padding: 2px;
    cursor: pointer;
}

.form-group.required .control-label:after {
    content: "*";
    color: #FF0000;
}

#slotdisplayheading {
    color: #F0FFF0;
}

#addcustomerdiv {
    margin-left: 244px;
    width: 1000px;
}

.redtext {
    color: #FF0000;
}

#rentoutyourspacepic {
    height: 100px;
}

#colorred {
    color: #FF0000;
}

#colorgreen {
    color: #008000;
}

#plotdivforediting {
    background-color: #9DB68C;
    height: auto;
    width: 500px;
    border-color: #006400;
    border: 2px solid;
}

#color_grey {
    color: #808080;
}

#plotregisterbtn {
    background-color: #008000;
    color: #FFFFFF;
}

.plotregisterbtn {
    background-color: #008000;
    color: #FFFFFF;
}

#ul-inline li {
    list-style-type: none;
}

#limargin {
    margin-left: 100px;
}

#homedisplaydiv {
    width: 500px;
    margin-left: 400px;
}

#ulinlineblock {
    display: inline-block;
}

    #ulinlineblock li {
        display: inline-block;
        list-style-type: none;
        text-align: right;
    }

#litextalign {
    text-align: right;
}

#liststyle li {
    list-style-type: none;
}

#profilepageindex {
    background-color:#f5f5f5;
    height: 500px;
    width: 500px;
    border-color: #90EE90;
    border: 2px dashed;
}

#editplotdetailsdiv {
    height: auto;
    width: 800px;
    background-color: #f5f5f5;
}

#plotterprofilepic {
    height: 160px;
    width: 160px;
}

#plotpic {
    height: 100px;
    height: 100px;
    cursor: pointer;
}

#div1 /*header section div*/ {
    width: 100%;
    height: 127px;
    background-color: #f5f5f5;
}

.div1 /*checkbox section div*/ {
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
}

#customerindexdiv {
    background-color:#f5f5f5;
    height: 400px;
    width: 800px;
    border-color:#008000;
    border: 5px solid;
}

#plotterindexdiv {
    background-color:#f5f5f5;
    height: auto;
    width: auto;
    border-color:#008000;
    border: 5px solid;
}

#slotregistrationdiv {
    background-color:#f5f5f5;
    height: 400px;
    width: 500px;
    border-color:#008000;
    border: 5px solid;
    padding: 12px;
}

#customerregisterimage {
    height: 120px;
    width: 80%;
}

#plotregistrationdiv {
    background-color:#f5f5f5;
    height: 400px;
    width: 571px;
    border-color:#008000;
    border: 5px solid;
    padding: 15px;
}

#slotclosingdiv {
    background-color: #f5f5f5;
    height: 400px;
    width: 400px;
    border-color:#008000;
    border: 5px solid;
}

#UserName {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #FFFFFF;
    background-size: 25px 25px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 4px 10px 6px 40px;
    background-image: url('/Content/Images/UserNameLogo.PNG');
}

#Password {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color:#FFFFFF;
    background-size: 25px 25px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 4px 10px 6px 40px;
    background-image: url('/Content/Images/PasswordLogo.PNG');
}

#loginbutton {
    background-color:#008000;
    color:#FFFFFF;
}

#slotnamedisplaydiv {
    background-color: #9DB68C;
    height: auto;
    width: 700px;
    border-color:#006400;
    border: 2px solid;
    padding: 15px;
}

.plotdisplay {
    background-color: #EDF8ED;
    height: auto;
    width: 235px;
    margin-top: 10px;
    padding: 16px;
}

#loginform {
    background-color: #f5f5f5;
    width: 600px;
    height: 400px;
    border: solid 1px;
    border-color: #008000;
    padding-top: 86px;
}

.customerindex {
    margin-top: 50px;
}

#plotindexheading {
    background-color:#f5f5f5;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 10px;
    height: 57px;
    color: #008000;
    font-size: 25px;
    margin-top: 40px;
}

#homeindex {
    border: 2px solid;
    background-color: #f5f5f5;
    padding: 10px;
    height: 300px;
}

.form-group.required .control-label:after {
    content: "*";
    color: #FF0000;
}

#search {
    border-top: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
    border-bottom: 0;
    border-left: thin solid #e5e5e5;
    box-shadow: 0px 1px 1px 1px #e5e5e5;
    float: left;
    margin: .8em 0 0 .5em;
    outline: 0;
    padding: .4em 0 .4em .6em;
    width: 216px;
}

#button-holder {
    cursor: pointer;
    float: left;
    height: 20px;
    margin: 11px 0 0 0;
    text-align: center;
    width: 77px;
}

#popup_box {
    display: none; /* Hide the DIV*/
    position: fixed;
    position: absolute;
    height: 254px;
    width: 400px;
    background: #FFFFFF;
    left: 300px;
    top: 345px;
    margin-left: 200px;
    background-color: #f7f7f7;
    border: solid 4px #00a8e6;
    padding: 15px;
    font-size: 15px;
    text-align: left;
    color: #4682b4;
}

#popupBoxClose {
    font-size: 20px;
    line-height: 15px;
    right: 5px;
    top: 5px;
    position: absolute;
    color: #6fa5e2;
    font-weight: 500;
    cursor: pointer;
}

webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 80%;
    background-color: #B4CFC3;
    font-weight: normal;
    height: 15px;
}

.header {
    background-color: #F5FFFA;
    font-weight: bold;
    color: #4169e1;
    font-weight: normal;
}

.webGrid th, .webGrid td {
    border: 2px solid #006400;
    padding: 12px;
    font-weight: normal;
    width: 244px;
}

.alt {
    background-color: #E4E9F5;
    color: #000;
}

.gridHead a:hover {
    text-decoration: underline;
    font-weight: normal;
}

#slotpicdescription {
    float: right;
    border: 1px dashed 	#000000;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

#bookcloselb {
    color: #FFFF00;
}

#customerhomelogo {
    height: 118px;
    width: 237px;
    padding: 2px;
}

#listlabel {
    background-color: #f5f5f5;
    border-radius: 16px;
    border: 2px solid #73ad21;
    padding: 1px;
    width: 250px;
    height: 43px;
    font-size: 25px;
    color: green;
    margin-bottom: 14px;
}

.listlabel {
    background-color: whitesmoke;
    border-radius: 16px;
    border: 2px solid #73ad21;
    padding: 1px;
    width: 290px;
    height: 43px;
    font-size: 25px;
    color: green;
    margin-bottom: 14px;
}

.validationfont {
    font-size: 12px;
}

#displayplot {
    display: inline-block;
    padding: 12px;
}

#homelink {
    float: left;
    margin-left: 8%;
    font-size: 14px;
}

#custemail {
    display: none;
}

#cnfmsg {
    display: none;
}

#addmoreplotform {
    padding-top: 45px;
}

.plotregisterdiv {
    background-color: #f7f7f7;
    border: 1px solid #008000;
}

.custregisterdiv {
    background-color: #f7f7f7;
    border: 1px solid #008000;
    width: 750px;
}

#div_loading {
    position: fixed;
    left: 0px;
    top: 203px;
    width: 100%;
    height: 100%;
    z-index: 9994;
}

.headercolor {
    background-color: #006400;
}

#bodyimage {
    background-repeat: no-repeat;
    background-size: cover;
}
