﻿@model ParkingSystem.ViewModel.AddMorePlot
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <br />
    <center><div id="listlabel">Add More Plot</div></center>
    <center>
        <div id="plotregistrationdiv">
            <div id=" addmoreplotform">
                @using (Ajax.BeginForm("PlotSectionGrid", "Plot",
                                        new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage", InsertionMode = InsertionMode.Replace }))
                {

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group required">
                            @Html.LabelFor(model => model.PlotName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.PlotName, new { htmlAttributes = new { @class = "form-control", required = "required", id = "plotname" } })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(model => model.PlotName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(model => model.AreaName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">

                                @Html.DropDownListFor(model => model.SelectedArea, Model.AreaList, "Select Area", new { @class = "form-control btn btn-default dropdown-toggle", required = "required" })
                                @Html.ValidationMessageFor(model => model.AreaName, "", new { @class = "text-danger" })
                                <span id="addareaname" class="redtext"></span>
                            </div>
                        </div>

                        <div class="form-group required">
                            @Html.LabelFor(model => model.PlotCity, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.PlotCity, Model.CityList, new { @class = "form-control btn btn-default dropdown-toggle", required = "required" })
                                @Html.ValidationMessageFor(model => model.PlotCity, "", new { @class = "text-danger" })
                                <span id="addcityname" class="redtext"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="submit" value="Next" class="btn btn-default plotregisterbtn" id="addmoreplot" />
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </center>
</div>