﻿@model IEnumerable<ParkingSystem.ViewModel.DisplayPlotNamePerPerson>
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <center>
        <br />
        <div id="listlabel">Edit Here</div>
        <div id="plotdivforediting">
            @foreach (var item in Model)
            {
                <div class="panel panel-default panel-success">
                    <div class="panel-heading">@Html.DisplayFor(modelItem => item.PlotName)</div>
                    <div class="panel-body">
                        <img src="~/Content/Images/PlotPic.jpg" id="plotpic" title="Click and Book" onclick="EditPlotDetails(@item.PlotId);" />

                    </div>
                </div>
                @*<div class="panel panel-default panel-success">
                    <div class="panel-heading">@Html.DisplayFor(modelItem => item.PlotName)</div>
                    <div class="panel-body">
                        <a href="@Url.Action("EditPlotDetails", "Plot", new { PlotId = item.PlotId })">
                            <img src="~/Content/Images/PlotPic.jpg" id="plotpic" />
                        </a>
                    </div>
                </div>*@
            }
        </div>
    </center>
</div>