﻿@model IEnumerable<ParkingSystem.ViewModel.DisplaySlotNamePerSection>
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <center>
        <br />
        <div id="listlabel">@Html.DisplayFor(m => m.FirstOrDefault().PlotName)</div>
        <div id="slotpicdescription">
            <b>Available</b><img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />
            <br /><br /><b>Booked</b><img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />
        </div>
        @Html.Partial("_DisplaySlot", Model)
    </center>
    <br />
</div>