﻿@model IEnumerable<ParkingSystem.ViewModel.DisplayPlotNamePerPerson>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section header
    {
    @{ Html.RenderAction("test", "Home"); }
}
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
@Html.Partial("_DisplayPlot", Model)
