﻿@model ParkingSystem.ViewModel.EditPlotDetailsViewModel
<br />
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <center>
        <div id="listlabel"> Edit </div>
        <div id="editplotdetailsdiv">
            <span id="colorred">@ViewBag.Message</span>
            @using (Ajax.BeginForm("EditPlotDetails", "Plot",
                                        new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionplotterpage", InsertionMode = InsertionMode.Replace }))
            {

                <div class="form-horizontal">
                    <br />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.PlotId, new { id = "plotId" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.PlotName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.PlotName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PlotName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AreaName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">

                            @Html.DropDownListFor(model => model.AreaName, ViewBag.AreaList as IEnumerable<SelectListItem>, "Select Area", new { @class = "form-control btn btn-default dropdown-toggle", required = "required" })
                            @Html.ValidationMessageFor(model => model.AreaName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">

                            @Html.DropDownListFor(model => model.CityName, ViewBag.CityList as IEnumerable<SelectListItem>, new { @class = "form-control btn btn-default dropdown-toggle", required = "required" })
                            @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Save" class="btn btn-default" id="plotregisterbtn" />
                        </div>
                    </div>
                </div>
            }
            <div>
                <table id="jqGrid"></table>
                <div id="jqControls"></div>
            </div>

        
                <script src="~/Scripts/EditPlot.js"></script>
            
        </div>
    </center>
</div>