﻿@model ParkingSystem.ViewModel.PlotSectionCapacityViewModel
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <br />
    <center>
        <div id="plotregistrationdiv">
            <br />
            @using (Ajax.BeginForm("DisplayPlot", "Plot",
         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage" }))
            {
                @Html.HiddenFor(model => model.PlotId, new { id = "plotId" })

                <table id="addplotGrid"></table>
                <div id="jqControls"></div>
                <br />
                <input type="submit" value="Done" class="btn btn-default" id="plotregisterbtn" />
            }
        </div>
    </center>

   
        <script src="~/Scripts/AddMorePlot.js"></script>

    
</div>