﻿@model ParkingSystem.ViewModel.PlotRegisterViewModel
@{
    Layout = null;
}
<style>
    body {
        background: none;
    }
</style>
<div id="mainsectionhomepage">
    <br />
    <center>
        <div class="container-fluid plotregisterdiv">
            <br />
            <div class="listlabel">
                Plot Parking Registration
            </div>
            <hr />


            @using (Ajax.BeginForm("PlotSectionGrid", "Home",
         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage", InsertionMode = InsertionMode.Replace, OnBegin = "AjaxBegin", OnComplete = "AjaxComplete" }))
            {

                <div id="div_loading" style="display:none;">
                    <img src="@Url.Content("~/Content/Images/ring-alt.gif")" />
                </div>
                <div class="form-horizontal">
                  <span class="text-danger">@ViewBag.Message</span>  
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group required">
                        @Html.LabelFor(model => model.PlotName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.PlotName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.PlotName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.CityName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.CityName, Model.CityList, new { @class = "form-control btn btn-default dropdown-toggle", required = "required" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.CityName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.AreaName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-4">

                            @Html.DropDownListFor(model => model.SelectedArea, Model.AreaList, "Select Area", new { @class = "form-control btn btn-default dropdown-toggle", required = "required" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.AreaName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", required = "required", id = "pmobileno" } })
                        </div>
                        <div id="pdmobileno" class="text-danger">
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group required">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">

                            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", Placeholder = "Password" } })

                            <br />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <input type="submit" value="NEXT" class="btn plotregisterbtn" onclick="PlotterValidation()" />
                        </div>
                    </div>
                </div>

            }

        </div>
    </center>
</div>
