﻿@model ParkingSystem.ViewModel.PlotSectionCapacityViewModel
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <br />
    <center>
        <div id="listlabel">Staff List</div>
        <table id="staffGrid"></table>
        <div id="jqControls"></div>
    </center>

        <script src="~/Scripts/StaffDetails.js"></script>

    
</div>