﻿@using Microsoft.AspNet.Identity
@model IEnumerable<ParkingSystem.ViewModel.HomePageDisplayViewModel>
<title>DisplayPlotDetails</title>
<style>
    body {
        background: none;
    }
</style>
<br />
<div id="mainsectionhomepage">
    @{
        var grid = new WebGrid(Model, canSort: false);
    }
    <center>
        <h1 id="colorgreen">Plot Details</h1>
        <div id="homelink">
            @Html.ActionLink("Back to Home", "Index", "Home")
        </div>
        @if (Request.IsAuthenticated == false)
        {
            <span id="colorred">* To see availability please&nbsp;</span> @Ajax.ActionLink("Login Here", "Login", "Home",
                 new AjaxOptions
                 {
                     UpdateTargetId = "mainsectionhomepage",
                     InsertionMode = InsertionMode.Replace
                 })
        }

        <br />
        <div id="gridContent">

            @grid.GetHtml(tableStyle: "webGrid",
        headerStyle: "header",
        alternatingRowStyle: "alt",
        footerStyle: "gridFooter",
        selectedRowStyle: "select",
        columns: grid.Columns(
                 grid.Column("PlotName", "Plot Name"),
                 grid.Column("MobileNo", "Mobile Number"),
                 grid.Column("OwnerName", " Owner Name"),
                 grid.Column("Capacity", "Capacity")

     ))
        </div>
    </center>
</div>
