﻿@using Microsoft.AspNet.Identity


@model ParkingSystem.ViewModel.HomePageViewModel
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section header
    {
    @{ Html.RenderAction("test", "Home"); }
}
@if (!Request.IsAuthenticated)
{

    @section scripts
        {
        <script>

            doAutoComplete('@Url.Action("GetPlotNameAndArea", "Home")?city=');
        </script>
    }
}
@if (Request.IsAuthenticated)
{

    @section scripts
        {
        <script>

            doAutoCompleteForCustomer('@Url.Action("GetPlotNameAndArea", "Home")?city=');
        </script>
    }

}
<div id="mainsectionhomepage">
    
    <center>
        <div id="popup_box">
            <!-- OUR PopupBox DIV-->

            <a id="popupBoxClose">X</a>
            @if (Request.IsAuthenticated == false)
            {
                <span id="colorred">* To see availability please&nbsp;</span>@Ajax.ActionLink("Login Here", "Login", "Home",
                 new AjaxOptions
                 {
                     UpdateTargetId = "mainsectionhomepage",
                     InsertionMode = InsertionMode.Replace
                 })
            }
            <div id="hiddiv"></div>
        </div>

        <h1 id="colorwhite">Park <span id="colorgreen">My</span> Car</h1>
        <br />
        <h1 id="colorwhite">Find your perfect parking space</h1>
        <br />
        <span id="colorwhite">Trusted by over a millions drivers</span>
        <br />
        <div>

            <br />

            @using (Ajax.BeginForm("Index", "Home",
         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage" }))
            {

                @Html.AntiForgeryToken()

                <ul id="home_form">
                    <li>
                        @Html.DropDownListFor(model => model.CityName, Model.CityList, new { @class = "form-control btn btn-default dropdown-toggle", required = "required", id = "city" })
                    </li>
                    <li>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.AreaName, new { htmlAttributes = new { @class = "form-control", id = "AreaName", required = "required" } })
                        </div>
                    </li>
                    <li><button type="submit" id="searchbutton" class="btn plotregisterbtn">Search</button></li>
                </ul>

            }
        </div>
    </center>
       
</div>