﻿@model ParkingSystem.ViewModel.LoginViewModel
@{
    Layout = null;
}
<style>
    body {
        background: none;
    }
</style>
<br />
<div id="mainsectionhomepage">
    <center>
        <div id="loginform">

            <div class="form-horizontal">
                <div id="loginmessage" class="text-danger"></div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group required">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", id = "UserName", Placeholder = "Email Address", required = "required" } })
                    </div>
                    <div>@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", id = "uname" })</div>
                </div>

                <div class="form-group required">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "Password", Placeholder = "Password", required = "required" } })
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", id = "pass" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Login" class="btn plotregisterbtn" onclick="loginval();" />
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>