﻿@model ParkingSystem.ViewModel.PlotSectionCapacityViewModel
@{
    Layout = null;
}
<style>
    body {
        background: none;
    }
</style>
<div id="mainsectionhomepage">

    <br />
    <center>
        <h2 id="colorgreen">Enter the Section Details....</h2>

        @using (Ajax.BeginForm("Login", "Home",
         new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "mainsectionhomepage" }))
        {
            @Html.HiddenFor(model => model.PlotId, new { id = "plotId" })

            <table id="plotregisterGrid"></table>
            <div id="jqControls"></div>
            <br />
            <input type="submit" value="Done" class="btn btn-default plotregisterbtn" />
        }
    </center>

    <script src="~/Scripts/Script.js"></script>
</div>