﻿@model ParkingSystem.ViewModel.SlotRegistrationViewModel
<div id="mainsectionhomepage">

    <center>
        <br />
        <div id="listlabel">
            Enter Car Details
        </div>
        <div id="slotregistrationdiv">
            @using (Ajax.BeginForm("BookSlot", "Plot",
         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage", InsertionMode = InsertionMode.Replace }))
            {

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @ViewBag.Message

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <br />

                    @Html.HiddenFor(model => model.SlotId, new { htmlAttributes = new { @class = "form-control" } })

                    <br />
                    <div class="form-group required">
                        @Html.LabelFor(model => model.CarNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.CarNumber, new { htmlAttributes = new { @class = "form-control ", required = "required" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.CarNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CarName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.CarName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col-md-1">
                            @Html.ValidationMessageFor(model => model.CarName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Registered", htmlAttributes: new { @class = "control-label" })
                        <input id="registered" name="registered" type="checkbox" value="false" class="checkbox-inline" />
                    </div>
                    <div class="form-group" id="mobileno">
                        @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div>@Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })</div>
                    </div>
                    <div class="form-group" id="custemail">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4", type = "email" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", id = "Email" } })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div>
                        <b>Date:</b> @DateTime.Now.ToString()
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Book" class="btn btn-default plotregisterbtn" />
                        </div>
                    </div>
                </div>
            }
        </div>
</center>
</div>