﻿@model ParkingSystem.ViewModel.PasswordChangeViewModel
<style>
    body {
        background: none;
         background-color: #C5E3BF;
    }
</style>
<div id="mainsectionhomepage">
    <br />
    <center><div id="listlabel">Change Password</div></center>
    <br />
    <center>
        <div id="changepassworddiv">
            @using (Ajax.BeginForm("ChangePassword", "Customer",
         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage", InsertionMode = InsertionMode.Replace }))
            {

                <div class="form-horizontal">
                    <span class="text-danger">@ViewBag.Message</span>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control",Required="Required" } })
                            </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control",Required="Required" } })
                            </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                          
                    </div>

                    <div class="form-group required">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Save" class="btn btn-default plotregisterbtn" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </center>
    </div>
