﻿@model IEnumerable<ParkingSystem.ViewModel.DisplayPaymentCloseDetails>
<div id="mainsectionhomepage">
    <br />
    <center>
        <div id="slotclosingdiv">
            <br />

            <center>
                @*@using (Ajax.BeginForm("CloseSlot", "Plot",
                    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage", InsertionMode = InsertionMode.Replace }))
                       {*@


                @foreach (var item in Model)
                {
                    @Html.Hidden("slotId", item.SlotId);
                    <span id="colorgreen"><b>RegistrationId:</b></span> @Html.DisplayFor(modelItem => item.RegistrationId)
                    <br />
                    <hr />
                    <span id="colorgreen"><b>Car Name:</b></span>@Html.DisplayFor(modelItem => item.CarName)
                    <br />
                    <hr />
                    <span id="colorgreen"><b>Car Number:</b></span> @Html.DisplayFor(modelItem => item.CarNumber)
                    <br />
                    <hr />
                    <span id="colorgreen"><b>Total Fare:</b></span> @Html.DisplayFor(modelItem => item.TotalFare)
                    <br />
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <input type="submit" value="Close" class="btn btn-default" id="plotregisterbtn" onclick="CloseSlotPayment(@item.SlotId);" />
                        </div>
                    </div>

                }
                @*}*@
            </center>
        </div>
</center>
</div>