﻿@model IEnumerable<ParkingSystem.ViewModel.DisplaySlotNamePerSection>
<div id="mainsectionhomepage">
    <center>
        <br />
        <div id="listlabel">@Html.DisplayFor(m => m.FirstOrDefault().PlotName)</div>
        <div id="slotpicdescription">
            <b>Available</b><img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />
            <br /><br /><b>Booked</b><img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />
        </div>
        <div id="slotnamedisplaydiv">
            <b id="slotdisplayheading">Click on the Slots to <span id="bookcloselb">Book</span> or <span id="bookcloselb">Close</span></b>
            <hr />
            @{ var list = Model.ToList();
             if (list.Count == 1)
             {
                @Html.DisplayFor(modelItem => list[0].SectionName)
                <br />
                 if (list[0].Status == 1)
                 {

                    <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[0].SlotIdPerSection) onclick="BookSlot(@list[0].SlotId);" />
                 }
                 else
                 {


                    <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[0].SlotIdPerSection) onclick="CloseSlot(@list[0].SlotId);" />
                 }
             }
             for (int i = 0; i < list.Count - 1; i++)
             {
                 if (i == 0)
                 {
                    @Html.DisplayFor(modelItem => list[i].SectionName)
                    <br />
                 }

                 if (list.Count == 2)
                 {
                     if (list[i].SectionName == list[i + 1].SectionName)
                     {

                         if (list[i].Status == 1)
                         {
                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="BookSlot(@list[i].SlotId);" />


                         }
                         else
                         {

                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="CloseSlot(@list[i].SlotId);" />
                         }

                         if (list[i + 1].Status == 1)
                         {
                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="BookSlot(@list[i+1].SlotId);" />

                         }
                         else
                         {
                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="CloseSlot(@list[i+1].SlotId);" />

                         }
                         break;

                     }
                     else
                     {

                         if (list[i].Status == 1)
                         {
                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="BookSlot(@list[i].SlotId);" />

                         }
                         else
                         {
                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="CloseSlot(@list[i].SlotId);" />

                         }
                        <br />
                        @Html.DisplayFor(modelItem => list[i + 1].SectionName)
                        <br />

                         if (list[i + 1].Status == 1)
                         {
                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="BookSlot(@list[i+1].SlotId);" />

                         }
                         else
                         {
                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="CloseSlot(@list[i+1].SlotId);" />

                         }
                        <br />
                         break;

                     }

                 }

                 if (list[i].SectionName == list[i + 1].SectionName)
                 {

                     if (list[i].Status == 1)
                     {
                        <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="BookSlot(@list[i].SlotId);" />

                     }
                     else
                     {
                        <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="CloseSlot(@list[i].SlotId);" />

                     }

                 }
                 else
                 {

                     if (list[i].Status == 1)
                     {
                        <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="BookSlot(@list[i].SlotId);" />

                     }
                     else
                     {
                        <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i].SlotIdPerSection) onclick="CloseSlot(@list[i].SlotId);" />

                     }
                    <br />
                    @Html.DisplayFor(modelItem => list[i + 1].SectionName)
                    <br />

                 }
                 if (i == list.Count - 2)
                 {
                     if (list[i].SectionName == list[i + 1].SectionName)
                     {

                         if (list[i + 1].Status == 1)
                         {
                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="BookSlot(@list[i+1].SlotId);" />

                         }
                         else
                         {
                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="CloseSlot(@list[i+1].SlotId);" />

                         }

                     }
                     else
                     {

                         if (list[i + 1].Status == 1)
                         {
                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="BookSlot(@list[i+1].SlotId);" />

                         }
                         else
                         {
                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" title=@Html.DisplayFor(modelItem => list[i+1].SlotIdPerSection) onclick="CloseSlot(@list[i+1].SlotId);" />

                         }

                     }
                 }

             }
            }
        </div>
</center>
</div>