﻿@model IEnumerable<ParkingSystem.ViewModel.DisplayPlotNamePerPerson>
<div id="mainsectionhomepage">
    <div id="plotindexheading">
        <center>
            Select the Plots for Booking....
        </center>
    </div>
    <center>
        <ul>
            @foreach (var item in Model)
            {
                <li id="displayplot">
                    <center>
                        <div class="thumbnail plotdisplay success">
                            @*<a href="@Url.Action("DisplaySlot", "Plot", new { PlotId = item.PlotId })" title=" Click and Book" class="thumbnail">*@
                            <img src="~/Content/Images/PlotPic.jpg" id="plotpic" class="thumbnail" title="Click and Book" onclick="SlotDisplay(@item.PlotId);" />
                            <p style="color:green;">@Html.DisplayFor(modelItem => item.PlotName)</p>


                        </div>
                    </center>
                </li>
            }
        </ul>
    </center>
</div>
