﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="nav navbar-nav navbar-right headercolor">

            <li>
                @*@Html.ActionLink("Add More Plot", "AddMorePlot", "Plot")*@
                @Ajax.ActionLink("Add More Plot", "AddMorePlot", "Plot",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })
            </li>
            <li>
                @*@Html.ActionLink("Edit Plot Details", "DisplayPlotForEditing", "Plot")*@
                @Ajax.ActionLink("Edit Plot Details", "DisplayPlotForEditing", "Plot",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })
            </li>
            <li>
                @*@Html.ActionLink("Booking History", "BookingListOfPlotter", "Plot")*@
                @Ajax.ActionLink("Booking History", "BookingListOfPlotter", "Plot",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })

            </li>
            <li>
                @Html.ActionLink("Sign Out", "SignOut", "Home")
            </li>
        </ul>
    }
}
else
{

}