﻿<ul class="nav navbar-nav navbar-right headercolor">
    <li>
        @Ajax.ActionLink("Register your plot", "RegisterPlot", "Home",

                      new AjaxOptions
                      {
                          HttpMethod = "GET",
                          UpdateTargetId = "mainsectionhomepage",
                          InsertionMode = InsertionMode.Replace
                      })
    </li>

    <li>
        @Ajax.ActionLink("New User", "AddCustomer", "Home",

                      new AjaxOptions
                      {
                          HttpMethod = "GET",
                          UpdateTargetId = "mainsectionhomepage",
                          InsertionMode = InsertionMode.Replace
                      })
    </li>
    <li>
        @Ajax.ActionLink("Login", "Login", "Home",

                      new AjaxOptions
                      {
                          HttpMethod = "GET",
                          UpdateTargetId = "mainsectionhomepage",
                          InsertionMode = InsertionMode.Replace
                      })
    </li>
</ul>