﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <ul class="nav navbar-nav navbar-right headercolor">

            <li>
                @*@Html.ActionLink("Your Visit", "DisplayVisitRecordsForCustomer", "Customer")*@
                @Ajax.ActionLink("Your Visit", "DisplayVisitRecordsForCustomer", "Customer",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })
            </li>
            <li>

                @Ajax.ActionLink("Edit Profile", "EditProfile", "Customer",

                      new AjaxOptions
                      {
                          HttpMethod = "GET",
                          UpdateTargetId = "mainsectionhomepage",
                          InsertionMode = InsertionMode.Replace
                      })
            </li>
            <li>

                @Ajax.ActionLink("Change Password", "ChangePassword", "Customer",

                      new AjaxOptions
                      {
                          HttpMethod = "GET",
                          UpdateTargetId = "mainsectionhomepage",
                          InsertionMode = InsertionMode.Replace
                      })
            </li>
            <li>
                @Html.ActionLink("Sign Out", "SignOut", "Home")
            </li>
        </ul>
        @*<ul class="nav navbar-nav navbar-right">

            <li>
                @Html.ActionLink("Your Visit", "DisplayVisitRecordsForCustomer", "Customer")
            </li>
            <li>
                @Html.ActionLink("Edit Profile", "EditProfile", "Customer")
            </li>
            <li>
                @Html.ActionLink("Change Password", "ChangePassword", "Customer")
            </li>
            <li>
                @Html.ActionLink("Sign Out", "SignOut", "Home")
            </li>
        </ul>*@
    }
}
else
{

}