﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right headercolor">

        <li>

            @Ajax.ActionLink("BookingList", "BookingListOfStaff", "Staff",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })
        </li>
        <li>
            @Ajax.ActionLink("Book Slots", "DisplayPlot", "Staff",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })

        </li>
        <li>
            @Html.ActionLink("Sign Out", "SignOut", "Home")
        </li>
    </ul>
    }
}
else
{

}