﻿@using Microsoft.AspNet.Identity
<div class="navbar navbar-inverse navbar-fixed-top headercolor">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PARK MY CAR", "Index", "Plot", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Plot", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>
                    @*@Html.ActionLink("Staff Registration", "RegisterStaff", "Plot")*@
                    @Ajax.ActionLink("Staff Registration", "RegisterStaff", "Plot",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })
                </li>
                <li>
                    @*@Html.ActionLink("Staff List", "StaffDetails", "Plot")*@
                    @Ajax.ActionLink("Staff List", "StaffDetails", "Plot",


                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        UpdateTargetId = "mainsectionhomepage",
                        InsertionMode = InsertionMode.Replace
                    })
                </li>
            </ul>
            @Html.Partial("_LoginPartialPlotter")
        </div>
    </div>
</div>