﻿@using Microsoft.AspNet.Identity
<div class="navbar navbar-inverse navbar-fixed-top headercolor">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PARK MY CAR", "Index", "Staff", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Staff", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            </ul>
            @Html.Partial("_LoginPartialStaff")
        </div>
    </div>
</div>
