﻿  @{ Html.RenderAction("test", "Home"); }  


<meta name="viewport" content="width=device-width" />
<title>Error</title>

<style>
    body {
        background: none;
    }
</style>
<div id="mainsectionhomepage">
    <br />

    <br />
    <center><h1 class="redtext"> OOPS.... This page can't be displayed.</h1></center>
</div>