﻿@model ParkingSystem.ViewModel.CustomerRegisterViewModel
@{
    Layout = null;
}
<style>
    body {
        background: none;
    }
</style>
<div id="mainsectionhomepage">
    <center>

        <br />
        <div class="container-fluid custregisterdiv">



            <h2><span id="colorgreen"> Register Here....</span></h2>
            <hr />
            @using (Ajax.BeginForm("AddCustomer", "Home",
                                        new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "mainsectionhomepage", InsertionMode = InsertionMode.Replace,OnBegin="AjaxBegin",OnComplete="AjaxComplete" }))

            { 
                
                if (ViewBag.Message != null)
                {
                    <span id="colorred">@ViewBag.Message</span>@Ajax.ActionLink("Login Here", "Login", "Home",
                 new AjaxOptions
                 {
                     UpdateTargetId = "mainsectionhomepage",
                     InsertionMode = InsertionMode.Replace
                 })
                }
                <div id="div_loading" style="display:none;">
   <img src="@Url.Content("~/Content/Images/ring-alt.gif")"/>
 </div>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group required">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4", requied = "required" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "name" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", required = "required", id = "cmobileno" } })
            </div>
            <div id="dmobileno" class="text-danger">@Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })</div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Create" class="btn btn-default plotregisterbtn" onclick="CustomerValidation()" />
            </div>
        </div>

        
    </div>
            }
              </div>
    </center>
    </div>


                      
                  
               

          
           