﻿@model IEnumerable<ParkingSystem.ViewModel.DisplaySlotNamePerSection>
           @{
               Layout = null;
           }
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>

<div id="mainsectionhomepage">
    <center>
        <br />
        <div id="listlabel">@Html.DisplayFor(m => m.FirstOrDefault().PlotName)</div>
        @Html.ActionLink("Back To Home", "Index", "Home")
        <br />
        <div id="slotpicdescription">
            <b>Available</b><img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />
            <br /><br /><b>Booked</b><img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />
        </div>
        <div id="slotnamedisplaydiv">

            @{ var list = Model.ToList();
             if (list.Count == 1)
             {
                @Html.DisplayFor(modelItem => list[0].SectionName)
                <br />
                 if (list[0].Status == 1)
                 {
                    <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />
                 }
                 else
                 {
                    <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />
                 }
             }
             for (int i = 0; i < list.Count - 1; i++)
             {
                 if (i == 0)
                 {

                    @Html.DisplayFor(modelItem => list[i].SectionName)
                    <br />
                 }
                 if (list.Count == 2)
                 {
                     if (list[i].SectionName == list[i + 1].SectionName)
                     {

                         if (list[i].Status == 1)
                         {

                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />

                         }
                         else
                         {

                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />

                         }

                         if (list[i + 1].Status == 1)
                         {

                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />

                         }
                         else
                         {

                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />

                         }
                         break;

                     }
                     else
                     {
                        @Html.DisplayFor(modelItem => list[i].SectionName)
                        <br />

                         if (list[i].Status == 1)
                         {

                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />

                         }
                         else
                         {

                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />

                         }
                        <br />
                        @Html.DisplayFor(modelItem => list[i + 1].SectionName)
                        <br />

                         if (list[i].Status == 1)
                         {

                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />

                         }
                         else
                         {

                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />

                         }
                        <br />
                         break;

                     }

                 }

                 if (list[i].SectionName == list[i + 1].SectionName)
                 {

                     if (list[i].Status == 1)
                     {

                        <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />

                     }
                     else
                     {

                        <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />

                     }

                 }
                 else
                 {

                     if (list[i].Status == 1)
                     {

                        <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />

                     }
                     else
                     {

                        <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />

                     }
                    <br />
                    @Html.DisplayFor(modelItem => list[i + 1].SectionName)
                    <br />

                 }
                 if (i == list.Count - 2)
                 {
                     if (list[i].SectionName == list[i + 1].SectionName)
                     {

                         if (list[i + 1].Status == 1)
                         {

                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />

                         }
                         else
                         {

                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />

                         }

                     }
                     else
                     {

                         if (list[i + 1].Status == 1)
                         {
                            <img src="~/Content/Images/parkmycarlogo.jpg" id="slotpic" />
                         }
                         else
                         {
                            <img src="~/Content/Images/parkmycarlogobw.PNG" id="slotpic" />
                         }

                     }
                 }

             }
            }
        </div>
    </center>
</div>