﻿@model IEnumerable<ParkingSystem.ViewModel.DisplayVisitHistoryViewModel>
@{
    Layout = null;
}
<script src="~/Scripts/BookingHistory.js"></script>
<style>
    body {
        background: none;
        background-color: #C5E3BF;
    }
</style>

<div id="mainsectionhomepage">
    <br />
    <center><div id="listlabel">Visit History</div></center>

    <br />
    <table id="jqcustomerGrid"></table>
    <div id="jqControls"></div>

   
</div>


